spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/reindecar}
    driver-class-name: org.postgresql.Driver
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  h2:
    console:
      enabled: false

logging:
  level:
    com.reindecar: INFO
    org.hibernate.SQL: WARN
    org.springframework.security: WARN

